# Project exclude paths
/gigasecond/target/
/reverse_string/target/
/armstrong_number/target/
/target
/clock/target/
/anagram/target/
/space-age/target/
/sublist/target/
/minesweeper/target/
/luhn/target/
/beer-song/target/
/difference-of-squares/target/
/grains/target/
/leap-year/target/
/nth-prime/target/
/prime-factors/target/
/proverb/target/
/bottle-song/target/
/raindrops/target/
/sum_of_multiples/target/
